* {
  font-family: inherit;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;

  .bookingCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff3e7;
    border: 4px solid #c46744;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: 1rem;

    .bookingCardInfo {
      text-align: center;
    }

    .primaryAdminBtn {
      border: none;
      border-radius: 20px;
      background-color: #c46744;
      cursor: pointer;
      transition: all 500ms;
      height: 2.5rem;
      width: 5rem;
      line-height: 1rem;
      margin: 0.5rem;

      &:hover {
        transform: scale(105%);
      }

      p {
        font-size: 1rem;
      }
    }
  }
}
