h1 {
  font-weight: 300;
  font-size: 4rem;
}
span {
  color: #bd5f04;
  filter: opacity(50%);
}

button {
  font-family: inherit;
  border: none;
  border-radius: 20px;
  background-color: #c46744;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 500ms;
  height: 5rem;
  width: 15rem;
  line-height: 1rem;
  &:hover {
    transform: scale(105%);
  }
  & p {
    font-size: 2rem;
  }
}

.container {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.homeText {
  margin-left: 5rem;
  text-align: left;
  width: 35vw;
}
