.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 90vh;

  .homeImg {

  }

  .homeText {
    margin-left: 5rem;
    text-align: left;
    width: 35vw;

    h1 {
      font-weight: 300;
      font-size: 4rem;

      .goldenSpan {
        color: #bd5f04;
        filter: opacity(50%);
      }   
    }
    .primaryBtn {
      font-family: inherit;
      border: none;
      border-radius: 20px;
      background-color: #c46744;
      margin-right: 1rem;
      cursor: pointer;
      transition: all 500ms;
      height: 5rem;
      width: 15rem;
      line-height: 1rem;

      p {
        font-size: 2rem;
      }
      &:hover {
        transform: scale(105%);
      }
    }

    .btnContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
  }
}
