.container {
    display: flex;
    flex-direction: column;

    .addressMap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                transition: all 500ms;

                &:hover {
                    transform: scale(105%);
                }
            }
        }
    }
}