h1 {
  font-weight: 300;
}
span {
  color: #bd5f04;
  filter: opacity(50%);
}

button {
  font-family: inherit;
  font-size: 2rem;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 2rem 1rem 2rem;
  background-color: #c46744;
  margin: 1rem;
  cursor: pointer;
  transition: all 500ms;
}
button:hover {
  transform: scale(105%);
}

.container {
  display: flex;
}
